.feed-page {
    width: 25%;
    margin: auto;
    padding: 20px;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image {
    width: 100%;
}

.post-info {
    padding: 10px;
}

.likes,
.caption,
.comments {
    margin: 5px 0;
}

/* dimmed 배경 */
.dimmed-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 처리 */
    z-index: 2;
}
